<div class="container">
  <form [formGroup]="placeForm" (submit)="createPlace()">
    <div fxLayout="row">

        <mat-card class="full-width">

          <mat-card-header>
            <mat-card-title>Nuevo Espacio</mat-card-title>
            <span class="fill-remaining-space"></span>
            <button mat-button routerLink="place/list">Volver</button>
          </mat-card-header>

            <div class="input-wrapper">
              <mat-select placeholder="Tipo Espacio" formControlName="ptype_id" required class="full-width select">
                 <mat-option *ngFor="let ptype of ptypes" [value]="ptype.id">{{ptype.name}}</mat-option>
              </mat-select>
            </div>           

            <div class="input-wrapper">
              <mat-input-container class="full-width">
               <input matInput placeholder="Nombre" formControlName="name" required>
               </mat-input-container>
            </div> 

            <div class="input-wrapper">
              <mat-input-container class="full-width">
               <input matInput type="number" placeholder="Capacidad" formControlName="capacity" required>
               </mat-input-container>
            </div>

            <div class="input-wrapper">
              <mat-input-container class="full-width">
               <input matInput type="number" placeholder="Precio" formControlName="price" required>
               </mat-input-container>
            </div>

            <div class="input-wrapper">
              <mat-input-container class="full-width">
               <input matInput type="time" placeholder="Horario apertura" formControlName="opening" required>
               </mat-input-container>
            </div>

            <div class="input-wrapper">
              <mat-input-container class="full-width">
               <input matInput type="time" placeholder="Horario cierre" formControlName="closing" required>
               </mat-input-container>
            </div>

        </mat-card-content>

        <mat-card-actions class="actions">
          <button mat-raised-button type="submit" [disabled]="!placeForm.valid">Aceptar</button>

        </mat-card-actions>

    </mat-card>

    </div>
  </form>
</div>
