.agenda-wrapper {
  overflow: hidden;
  overflow-x: scroll;
}
.over {
  overflow: hidden;
  overflow-x: scroll;
  flex-grow: 1;
}

.row {
  height: 70px;
}

.th {
  background: #f5f5f5;
  font-weight: bold;
  flex: 1 0 190px;
  height: 72px;
}
.date {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 52px;
  /*background-color: lightpink;*/
  width: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}
.item {
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*padding: 10px;*/
  border: 1px solid #f5f5f5;
}
.item:hover {
  background-color: lightyellow;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #f5f5f5;
    margin: 1em 0;
    padding: 0;
}
.booking-client-name {
  text-align: center;
  font-weight: bold;
}
.booking-client-count {
  text-align: center;
  font-weight: bold;
}

.status {
  height: 14px;
  width: 14px;
  border-radius: 50%;
}

.bs0 { background-color: #ff9901; }
.bs1 { }
.bs2 { background-color: #ff00ff; }
.bs3 { background-color: #00ff02; }
.bs4 { background-color: #d9d2e9; }
.bs5 { background-color: #4a86e8; }
.bs6 { background-color: #b6d7a8; }
.bs7 { background-color: #ff0000; }
.bs8 { background-color: #ffff02; }
.bs9 { background-color: #00ffff; }
.bs10 { background-color: #9345ff; }
