<mat-card>
  <mat-card-header>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
      <div fxFlex="50">
        <mat-card-title>Agenda Diaria</mat-card-title>
        <mat-card-subtitle>{{ ptype?.plural }}</mat-card-subtitle>
      </div>
      <div fxFlex="50" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center">
        <mat-form-field>
          <input matInput [matDatepicker]="starts_picker" placeholder="Desde:" [(ngModel)]="starts" (ngModelChange)="calculateDates()" [max]="maxDate">
          <mat-datepicker-toggle matSuffix [for]="starts_picker"></mat-datepicker-toggle>
          <mat-datepicker #starts_picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="ends_picker" placeholder="Hasta:" [(ngModel)]="ends" (ngModelChange)="calculateDates()" [min]="minDate">
          <mat-datepicker-toggle matSuffix [for]="ends_picker"></mat-datepicker-toggle>
          <mat-datepicker #ends_picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content class="agenda-wrapper" fxLayout="row">

    <div fxLayout="column" fxFlex="100">
      <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="5px">
        <div fxLayout="column" fxLayoutGap="5px">
          <div class="date th">Fecha</div>
          <div class="date" *ngFor="let day of days">{{ day | date: 'EEEE, dd/MM/y' }}</div>
        </div>
        <div fxLayout="column" fxLayoutGap="5px" class="over">
          <div fxLayout="row" fxLayoutGap="5px">
            <div class="th" fxLayoutAlign="center center" *ngFor="let place of places">{{ place.name }}</div>
          </div>

          <div fxLayout="row" fxLayoutGap="5px" *ngFor="let day of matrix; let i = index">
            <div class="item" fxFlex="1 0 190px" *ngFor="let place of day" fxLayout="row" fxLayoutAlign="space-between stretch">
              <div *ngIf="place.booking != 0" [routerLink]="['/booking',place.booking.id]" fxLayout="column" fxFlex="100" fxLayoutAlign="space-between stretch">
                <div fxLayout="row" fxLayoutAlign="center end" fxFlex="50">
                  <div fxLayout="column" fxFlex="80"><span class="booking-client-name">{{ place.client.first_name }} {{ place.client.last_name }}</span></div>
                  <div fxLayout="column" fxFlex="20"><span class="booking-client-count">{{ place.booking.adults + place.booking.childrens }}</span></div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="50" fxLayoutGap="2px">
                  <div *ngIf="place.payments.length < 1" matTooltip="Pendiente de Pago" class="status bs0"></div>
                  <div class="status" matTooltip="{{status.name}}" *ngFor="let status of place.statuses" [ngClass]="{'bs0': status.id == 0, 'bs1': status.id == 1, 'bs2': status.id == 2, 'bs3': status.id == 3, 'bs4': status.id == 4, 'bs5': status.id == 5, 'bs6': status.id == 6, 'bs7': status.id == 7, 'bs8': status.id == 8, 'bs9': status.id == 9, 'bs10': status.id == 10  }"></div>
                </div>
              </div>

              <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100%" *ngIf="place.booking == 0" [routerLink]="['/booking/new']" [queryParams]="{ p: place.id, d: days[i] / 1000 }">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </mat-card-content>
</mat-card>