<mat-toolbar>

  <div fxLayout="row" fxShow="false" fxShow.gt-xs>

    <button mat-button *ngFor="let ptype of ptypes" [routerLink]="['/agenda/monthly',ptype.id]"> {{ ptype.plural }}
      <ng-container *ngIf="ptype.places.length > 0">
        <mat-icon [matMenuTriggerFor]="menu">keyboard_arrow_down</mat-icon>
        <mat-menu #menu="matMenu">
          <button *ngFor="let place of ptype.places" mat-menu-item routerLink="/">{{ place.name }}</button>
        </mat-menu>
      </ng-container>
    </button>
    <button mat-button routerLink="/clients">Clientes</button>
  </div>

  <span class="fill-remaining-space"></span>

  <span><a routerLink="/signout" fxShow="false" fxShow.gt-xs><mat-icon>exit_to_app</mat-icon> </a></span>

</mat-toolbar>

<div class="container">
<router-outlet></router-outlet>
</div>
