<mat-toolbar color="primary">

  <div fxLayout="row" fxShow="false" fxShow.gt-xs>

    <button mat-button [routerLink]="['/agenda/monthly', 1]">Cabañas</button>
    <button mat-button routerLink="/clients">Clientes</button>
    <button mat-button [matMenuTriggerFor]="menu"> Administración
      <mat-icon>keyboard_arrow_down</mat-icon>
      <mat-menu #menu="matMenu">
        <!-- <button mat-menu-item routerLink="#">Usuarios</button> -->
        <button mat-menu-item routerLink="/statuses/list">Estados</button>
        <button mat-menu-item routerLink="/places">Espacios</button>
        <button mat-menu-item routerLink="/ptypes">Tipos</button>
      </mat-menu>
    </button>
  </div>

  <span class="fill-remaining-space"></span>

  <a mat-button routerLink="/signout" fxShow="false" fxShow.gt-xs><mat-icon>exit_to_app</mat-icon> Logout</a>

</mat-toolbar>

<div class="container">
<router-outlet></router-outlet>
</div>
