<div class="container">
  <div fxLayout="column">
    <ng-container *ngIf="client">
      <div fxLayout="row">
        <mat-card class="full-width">
          <mat-card-header>
            <mat-card-title>Detalle</mat-card-title>
            <span class="fill-remaining-space"></span>
            <button mat-button [routerLink]="['/clients']">Volver</button>
          </mat-card-header>

          <mat-card-content class="inputs-wrapper">

            <span></span>

            <div class="input-wrapper">
               <mat-input-container class="full-width">
                 <input matInput placeholder="Rut" [value]="client.rut" readonly="true">
               </mat-input-container>
            </div>

            <div class="input-wrapper">
              <mat-input-container class="full-width">
               <input matInput placeholder="Nombre" [value]="client.first_name" readonly="true">
               </mat-input-container>
            </div>

            <div class="input-wrapper">
              <mat-input-container class="full-width">
              <input matInput placeholder="Apellido" [value]="client.last_name" readonly="true">
              </mat-input-container>
            </div>

            <div class="input-wrapper">
              <mat-input-container class="full-width">
              <input type="email" matInput placeholder="Email" [value]="client.email" readonly="true">
              </mat-input-container>
            </div>

            <div class="input-wrapper">
              <mat-input-container class="full-width">
              <input matInput placeholder="Direccion" [value]="client.address" readonly="true">
              </mat-input-container>
            </div>

            <div class="input-wrapper">
              <mat-input-container class="full-width">
              <input matInput placeholder="Ciudad" [value]="client.city" readonly="true">
              </mat-input-container>
            </div>

            <div class="input-wrapper">
              <mat-input-container class="full-width">
               <input matInput placeholder="Teléfono" [value]="client.phone" readonly="true"></mat-input-container>
            </div>

            <div class="input-wrapper">
              <mat-input-container class="full-width">
              <input matInput placeholder="Patente" [value]="client.car_license" readonly="true">
              </mat-input-container>
            </div>

            <div class="input-wrapper">
              <mat-input-container class="full-width">
              <input matInput placeholder="Marca" [value]="client.car_brand" readonly="true">
              </mat-input-container>
            </div>

            <div class="input-wrapper">
              <mat-input-container class="full-width">
              <input matInput placeholder="Modelo" [value]="client.car_model" readonly="true">
              </mat-input-container>
            </div>            

            <div class="input-wrapper">
              <mat-input-container class="full-width">
              <input matInput placeholder="Color" [value]="client.car_color" readonly="true">
              </mat-input-container>
            </div>

        </mat-card-content>

        <mat-card-actions class="actions">
            <button [routerLink]="['/clients/edit',client.id]" mat-button type="button">Editar Cliente</button>
        </mat-card-actions>

        </mat-card>
      </div>
    </ng-container>
  </div>
</div>
