<div class="container">

  <div fxLayout="row" class="header">
    <span class="title"> {{title}}</span>
    <span class="fill-remaining-space"></span>
    <a routerLink="/clients/new" md-raised-button> <md-icon>add</md-icon> Nuevo</a>
  </div>
  <br>
    <div fxLayout="column">

    <div fxLayout="row">

      <md-table #table [dataSource]="dataSource" class="full-width">
        <ng-container cdkColumnDef="name">
          <md-header-cell *cdkHeaderCellDef> Nombre </md-header-cell>
          <md-cell *cdkCellDef="let row">{{ row.name }}</md-cell>
        </ng-container>        

        <ng-container cdkColumnDef="plural">
          <md-header-cell *cdkHeaderCellDef> Nombre en plural </md-header-cell>
          <md-cell *cdkCellDef="let row">{{ row.plural }}</md-cell>
        </ng-container>    

        <ng-container cdkColumnDef="icons">
          <md-header-cell *cdkHeaderCellDef> Opciones </md-header-cell>
          <md-cell *cdkCellDef="let row">
          <button  md-icon-button [routerLink]="['/ptype/detail',row.id]"><md-icon>visibility</md-icon></button>
          </md-cell>
        </ng-container>  

        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
      </md-table> 

  </div>
  <div>
</div> 


