.status {
  height: 14px;
  width: 14px;
  border-radius: 50%;
}

.bs0 { background-color: lightyellow; }
.bs1 { background-color: #ff9901; }
.bs2 { background-color: #ff00ff; }
.bs3 { background-color: #00ff02; }
.bs4 { background-color: #d9d2e9; }
.bs5 { background-color: #4a86e8; }
.bs6 { background-color: #b6d7a8; }
.bs7 { background-color: #ff0000; }
.bs8 { background-color: #ffff02; }
.bs9 { background-color: #00ffff; }
.bs10 { background-color: #9345ff; }
