
  <div class="container">
  <mat-card>
    <mat-vertical-stepper linear>
      <mat-step [stepControl]="bookingForm">
        <form [formGroup]="bookingForm">
          <ng-template matStepLabel>Fecha</ng-template>
          
         <mat-card-title>
           Reserva
         </mat-card-title>

         <mat-card-content fxLayout='column'>

           <div fxLayout='row' fxFlex="100%" fxLayoutGap="10px">
             <mat-form-field fxFlex="34">
               <input matInput placeholder="Lugar">
             </mat-form-field>

            <mat-form-field class="example-full-width" fxFlex="33">
              <input matInput [matDatepicker]="picker1" placeholder="Llegada">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #picker1></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="example-full-width" fxFlex="33">
              <input matInput [matDatepicker]="picker" placeholder="Salida">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #picker></mat-datepicker>
            </mat-form-field>
           </div>

           <div fxLayout='row' fxFlex="100%" fxLayoutGap="10px">
             <mat-form-field fxFlex=“50”>
               <input matInput placeholder="Adultos">
             </mat-form-field>

             <mat-form-field fxFlex="50">
               <input matInput placeholder="Niños">
             </mat-form-field>
           </div>
           <div fxLayout='row' fxFlex="100%" fxLayoutGap="10px">
             <mat-form-field fxFlex=“50”>
               <input matInput placeholder="Días">
             </mat-form-field>

             <mat-form-field fxFlex="50">
               <input matInput placeholder="Noches">
             </mat-form-field>
           </div>

         </mat-card-content>
          <div>
          <mat-card-actions class="actions">
            <button mat-raised-button matStepperNext [disabled]="!bookingForm.valid">Siguiente</button>
          </mat-card-actions>
          </div>
        </form>
      </mat-step>



   
      <mat-step [stepControl]="clientForm" fxLayout="column">

        <ng-template matStepLabel>Cliente</ng-template>

        <div fxLayout="row">
          <div fxLayout="column" fxFlex="10" fxLayoutAlign="center center">
            Cliente:
          </div>

          <div fxLayout="column" fxLayoutAlign="space-between center">
            <mat-radio-group [(ngModel)]="newClient" fxLayout="column">
              <mat-radio-button value="1" fxFlex="60px">           
                <mat-select *ngIf="clients && newClient" [(ngModel)]="client_id">
                  <mat-option *ngFor="let client of clients" [value]="client.id"  >
                    {{ client.first_name }} {{client.last_name}}
                  </mat-option>
                </mat-select>
              </mat-radio-button>
              <mat-radio-button value="2" fxFlex="60px">Cliente nuevo</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div *ngIf="newClient==2" fxLayout="row">
          <form [formGroup]="clientForm" (submit)="createClient()" fxLayout="column" fxFlex="100%">

            <div fxLayout='row' fxFlex="100%" fxLayoutGap="10px">
              <mat-form-field fxFlex="34">
                <input matInput placeholder="Rut" formControlName="rut" required>
              </mat-form-field>

              <mat-form-field fxFlex="33">
                <input matInput placeholder="Nombre" formControlName="first_name" required>
              </mat-form-field>
              
              <mat-form-field fxFlex="33">
                <input matInput placeholder="Apellido" formControlName="last_name" required>
              </mat-form-field>

            </div>


            <div fxLayout='row' fxFlex="100%" fxLayoutGap="10px">       
              <mat-form-field fxFlex="25">
                <input type="email" matInput placeholder="Email" formControlName="email" required>
              </mat-form-field>

              <mat-form-field fxFlex="25">
                <input type="number" matInput placeholder="Teléfono" formControlName="phone" required>
              </mat-form-field>
                        
              <mat-form-field fxFlex="25">
                <input matInput placeholder="Dirección" formControlName="address" required>
              </mat-form-field>
                     
              <mat-form-field fxFlex="25">
                <input matInput placeholder="Ciudad" formControlName="city" required>
              </mat-form-field>
                        
            </div>

            <div fxLayout='row' fxFlex="100%" fxLayoutGap="10px">
              <mat-form-field fxFlex="25">
                <input matInput placeholder="Patente" formControlName="car_license" >
              </mat-form-field>
              

              <mat-form-field fxFlex="25">
                <input matInput placeholder="Marca del auto" formControlName="car_brand" >
              </mat-form-field>
              
              <mat-form-field fxFlex="25">
                <input matInput placeholder="Modelo del auto" formControlName="car_model" >
              </mat-form-field>
              
              <mat-form-field fxFlex="25">
                <input matInput placeholder="Color del auto" formControlName="car_color" >
              </mat-form-field>

            </div>

            <div fxLayout="row" fxFlex="100%" fxLayoutAlign="end center">
              <button mat-raised-button type="submit" [disabled]="!clientForm.valid">Aceptar</button>
            </div>
          </form>
        </div>

        <div fxLayout="row" fxFlex="100%" fxLayoutAlign="end center">
          <button mat-raised-button matStepperPrevious>Volver</button>
          <button mat-raised-button matStepperNext (click)="getClient(client_id)">Siguiente</button>
        </div>

      </mat-step>
     
      <mat-step>
      <ng-template matStepLabel>Confirmar Reserva</ng-template>
      <ng-container *ngIf="client">

        <mat-card-title>
            Cliente
        </mat-card-title>

        <mat-card-content fxLayout='column'>
          <div fxLayout='row' fxFlex="100%" fxLayoutGap="10px">

            <mat-form-field fxFlex="34">
              <input matInput placeholder="Rut" [value]='client.rut' readonly>
            </mat-form-field>

            <mat-form-field fxFlex="33">
              <input matInput placeholder="Nombre Completo" [value]='client.first_name + " " + client.last_name' readonly>
            </mat-form-field>

            <mat-form-field fxFlex="33">
              <input matInput placeholder="Email" [value]='client.email' readonly>
            </mat-form-field>

          </div>

          <div fxLayout='row' fxFlex="100%" fxLayoutGap="10px">
            <mat-form-field fxFlex="33">
              <input matInput placeholder="Teléfono" [value]='client.phone' readonly>
            </mat-form-field>

            <mat-form-field fxFlex="33">
              <input matInput placeholder="Dirección" [value]='client.address' readonly>
            </mat-form-field>

            <mat-form-field fxFlex="33">
              <input matInput placeholder="Ciudad" [value]='client.city' readonly>
            </mat-form-field>
          </div>
          </mat-card-content>

      </ng-container>

        <div>
        <mat-card-actions class="actions">
          <button mat-raised-button matStepperPrevious>Volver</button>
          <button mat-raised-button type="submit">Reservar</button>
        </mat-card-actions>
        </div>
          
      </mat-step>
    </mat-vertical-stepper>
  </mat-card>
</div>