<div class="container">
  <form [formGroup]="userForm" (submit)="createUser()">
    <div fxLayout="row">

        <mat-card class="full-width">

          <mat-card-header>
            <mat-card-title>Nuevo Usuario</mat-card-title>
          </mat-card-header>

          <mat-card-content fxLayout='column'>

          <div fxLayout='row' fxFlex="100%" fxLayoutGap="10px">        
             <mat-form-field fxFlex="50">
               <input matInput placeholder="Nombre Completo" formControlName="name" required>

             </mat-form-field>
                           
            <mat-form-field fxFlex="50">
              <input matInput type="email" placeholder="Email" formControlName="email" required>
            </mat-form-field>
          </div>

          <div fxLayout='row' fxFlex="100%" fxLayoutGap="10px">
            <mat-form-field fxFlex="50">
              <input matInput type="password" placeholder="Password" formControlName="password" required>
              <mat-error>La contraseña debe tener un mínimo de 8 dígitos</mat-error>
            </mat-form-field>
                      
            <mat-form-field fxFlex="50">
              <input matInput type="password" placeholder="Confirmar Password" formControlName="password_confirmation" required>
              <mat-error>No coinciden las contraseñas</mat-error>
            </mat-form-field>                              
          </div>

          </mat-card-content>

        <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
          <button mat-raised-button type="submit" [disabled]="!userForm.valid">Aceptar</button>
        </mat-card-actions>

    </mat-card>

    </div>
  </form>
</div>
