<div class="container">
  <form [formGroup]="statusForm" (submit)="updateStatus()">
      <ng-container *ngIf="status">
        <mat-card>

          <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
            <mat-card-title>Editar</mat-card-title>
            <span class="fill-remaining-space"></span>
            <button type="button" mat-button [routerLink]="['/statuses/list']">Volver</button>
          </mat-card-header>

        <mat-card-content fxLayout='column'>

          <div fxLayout='row' fxFlex="100%" fxLayoutGap="10px">
            <mat-input-container fxFlex="50">
              <input matInput placeholder="Nombre" formControlName="name" required>
            </mat-input-container>
            <mat-input-container fxFlex="50">
              <input matInput placeholder="Color" formControlName="color" required [(ngModel)]="color">
              <button type="button" [ngStyle]="{ 'background-color': color }" mat-button mat-icon-button matSuffix (click)="openColorPickerDialog()"><mat-icon>mode_edit</mat-icon></button>
            </mat-input-container>
          </div>

          </mat-card-content>

          <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
            <button mat-button type="button" (click)="openDialog()" confirm color="accent">Eliminar</button>
            <button mat-raised-button type="submit" [disabled]="!statusForm.valid">Aceptar</button>
          </mat-card-actions>

        </mat-card>

      </ng-container>
  </form>
</div>
