<div class="container">
    <ng-container *ngIf="status">
        <mat-card>
          <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
            <mat-card-title>Detalle</mat-card-title>
            <span class="fill-remaining-space"></span>
            <button mat-button [routerLink]="['/statuses/list']">Volver</button>
          </mat-card-header>

        <mat-card-content fxLayout='column'>

          <div fxLayout='row' fxFlex="100%" fxLayoutGap="10px">
            <mat-input-container fxFlex="100">
                <input matInput placeholder="name" [value]="status.name" readonly="true">
            </mat-input-container>
          </div>
        </mat-card-content>

        <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
            <button [routerLink]="['/statuses/edit',status.id]" mat-button type="button">Editar Estado</button>
        </mat-card-actions>

        </mat-card>
    </ng-container>
</div>
