<div class="container">
    <ng-container *ngIf="status">
        <mat-card>
          <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
            <mat-card-title>Detalle</mat-card-title>
            <span class="fill-remaining-space"></span>
            <button type="button" mat-button [routerLink]="['/statuses/list']">Volver</button>
          </mat-card-header>

        <mat-card-content fxLayout='column'>

          <div fxLayout='row' fxFlex="100%" fxLayoutAlign="space-between end" fxLayoutGap="10px">
            <mat-input-container fxFlex="50">
              <input matInput placeholder="Nombre" [value]="status.name" readonly>
            </mat-input-container>
            <mat-input-container fxFlex="50">
              <mat-chip-list #chipList>
                <mat-chip *ngIf="status.color" [ngStyle]="{ 'background-color': status.color }">{{ status.color | uppercase }}</mat-chip>
                <input placeholder="Color" readonly [matChipInputFor]="chipList">
              </mat-chip-list>
            </mat-input-container>
          </div>
        </mat-card-content>

        <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
            <button [routerLink]="['/statuses/edit',status.id]" mat-button type="button">Editar</button>
        </mat-card-actions>

        </mat-card>
    </ng-container>
</div>
