
<div class="container">
	<table>
		<thead>
			<tr>
				<th>RUT</th>
				<th>Nombre completo</th>
				<th>Email</th>
				<th>Telefono</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let client of clients">
				<td>{{ client.rut}}</td>
				<td>{{ client.first_name}} {{client.last_name}}</td>
				<td>{{ client.email}}</td>
				<td>{{ client.phone}}</td>
			</tr>
		</tbody>
	</table>

</div>



<!--<div class="container">

  <div fxLayout="row" class="header">
    <span class="title">{{ title }}</span>
    <span class="fill-remaining-space"></span>
    <a routerLink="/clients/new" md-raised-button> <md-icon>add</md-icon> Nuevo</a>
  </div>
  <br>

  <div fxLayout="column">

    <div fxLayout="row">
      <md-input-container floatPlaceholder="never" class="full-width">
        <input mdInput #filter placeholder="Buscar: ">
      </md-input-container>
    </div>

    <div fxLayout="row">

      <md-table #table [dataSource]="dataSource" mdSort class="full-width">
        <ng-container cdkColumnDef="rut">
          <md-header-cell *cdkHeaderCellDef md-sort-header class="title-center"> Rut </md-header-cell>
          <md-cell *cdkCellDef="let row" class="text-center"> {{ row.rut }} </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="full_name">
          <md-header-cell *cdkHeaderCellDef md-sort-header> Nombre Completo </md-header-cell>
          <md-cell *cdkCellDef="let row">{{ row.first_name }} {{ row.last_name }} </md-cell>
        </ng-container>

        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
      </md-table>

    </div>
    <div fxLayout="row" >
      <md-paginator #paginator
                  [length]= "30"
                  [pageIndex]="0"
                  [pageSize]="25"
                  [pageSizeOptions]="[10, 25, 50]">
      </md-paginator>
    </div>

  </div>

</div> -->


