<div class="container">

  <div fxLayout="row" class="header">
    <span class="title"> {{title}}</span>
    <span class="fill-remaining-space"></span>
    <a routerLink="/clients/new" md-raised-button> <md-icon>add</md-icon> Nuevo</a>
  </div>
  <br>

  <div fxLayout="column">

    <div fxLayout="row">
      <md-input-container floatPlaceholder="never" class="full-width">
        <input mdInput #filter placeholder="Buscar: ">
      </md-input-container>
    </div>

    <div fxLayout="row">

      <md-table #table [dataSource]="dataSource" mdSort class="full-width">
        <ng-container cdkColumnDef="rut">
          <md-header-cell *cdkHeaderCellDef md-sort-header class="title-center"> Rut </md-header-cell>
          <md-cell *cdkCellDef="let row" class="text-center"> {{ formatRut(row.rut) }} </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="full_name">
          <md-header-cell *cdkHeaderCellDef md-sort-header> Nombre Completo </md-header-cell>
          <md-cell *cdkCellDef="let row">{{ row.first_name }} {{ row.last_name }} </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="email">
          <md-header-cell *cdkHeaderCellDef md-sort-header> Email </md-header-cell>
          <md-cell *cdkCellDef="let row">{{ row.email }}</md-cell>
        </ng-container>        

        <ng-container cdkColumnDef="phone">
          <md-header-cell *cdkHeaderCellDef md-sort-header> Telefono </md-header-cell>
          <md-cell *cdkCellDef="let row" >{{ row.phone }}</md-cell>
        </ng-container>

        <ng-container cdkColumnDef="car_license">
          <md-header-cell *cdkHeaderCellDef md-sort-header> Patente </md-header-cell>
          <md-cell *cdkCellDef="let row">{{ row.car_license }}</md-cell>
        </ng-container>

        <ng-container cdkColumnDef="icons">
          <md-header-cell *cdkHeaderCellDef md-sort-header> Opciones </md-header-cell>
          <md-cell *cdkCellDef="let row">
          <button  md-icon-button [routerLink]="['/clients/detail',row.id]"><md-icon>visibility</md-icon></button>
          <button  md-icon-button (click)="openDialog(row.id)"><md-icon>delete</md-icon></button>
          </md-cell>
        </ng-container>

        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
      </md-table>

    </div>
    <div fxLayout="row" >
      <md-paginator #paginator
                  [length]= "30"
                  [pageIndex]="0"
                  [pageSize]="25"
                  [pageSizeOptions]="[10, 25, 50]">
      </md-paginator>
    </div>

  </div>

</div> 


