<div class="container">
  <div fxLayout="column">
    <ng-container *ngIf="ptype">
      <div fxLayout="row">
        <mat-card class="full-width">
          <mat-card-header>
            <mat-card-title>Detalle</mat-card-title>
            <span class="fill-remaining-space"></span>
            <button mat-button [routerLink]="['/ptypes']">Volver</button>
          </mat-card-header>

        <mat-card-content fxLayout='column'>

          <div fxLayout='row' fxFlex="100%" fxLayoutGap="10px">
             <mat-input-container fxFlex="34">
                 <input matInput placeholder="Nombre" [value]="ptype.name" readonly>
               </mat-input-container>

              <mat-input-container fxFlex="33">
               <input matInput placeholder="Plural" [value]="ptype.plural" readonly>
               </mat-input-container>

               <mat-input-container fxFlex="33">
                 <input matInput placeholder="Tipo Horario" [value]="schedule_types[ptype.schedule_type]" readonly>
               </mat-input-container>

            </div>


        </mat-card-content>

        <mat-card-actions fxLayoutAlign="end center">
            <button [routerLink]="['/ptypes/edit',ptype.id]" mat-button type="button">Editar</button>
        </mat-card-actions>

        </mat-card>
      </div>
    </ng-container>
  </div>
</div>
