<div class="container">
  <div fxLayout="column">
    <ng-container *ngIf="ptype">
      <div fxLayout="row">
        <mat-card class="full-width">
          <mat-card-header>
            <mat-card-title>Detalle</mat-card-title>
            <span class="fill-remaining-space"></span>
            <button mat-button [routerLink]="['/ptype/list']">Volver</button>
          </mat-card-header>

          <mat-card-content class="inputs-wrapper">

            <span></span>

            <div class="input-wrapper">
               <mat-input-container class="full-width">
                 <input matInput placeholder="name" [value]="ptype.name" readonly="true">
               </mat-input-container>
            </div>

            <div class="input-wrapper">
              <mat-input-container class="full-width">
               <input matInput placeholder="plural" [value]="ptype.plural" readonly="true">
               </mat-input-container>
            </div>


        </mat-card-content>

        <mat-card-actions class="actions">
            <button [routerLink]="['/ptype/edit',ptype.id]" mat-button type="button">Editar Tipos</button>
        </mat-card-actions>

        </mat-card>
      </div>
    </ng-container>
  </div>
</div>
