<div class="container">
  <form [formGroup]="clientForm" (submit)="createClient()">
    <div fxLayout="row">

        <mat-card class="full-width">

          <mat-card-header>
            <mat-card-title>Nuevo Cliente</mat-card-title>
            <span class="fill-remaining-space"></span>
            <button mat-button routerLink="/clients">Volver</button>
          </mat-card-header>

          <mat-card-content fxLayout='column'>

          <div fxLayout='row' fxFlex="100%" fxLayoutGap="10px">
             <mat-form-field fxFlex="34">
               <input matInput placeholder="Rut" formControlName="rut" required>
             </mat-form-field>
           
             <mat-form-field fxFlex="33">
               <input matInput placeholder="Nombre" formControlName="first_name" required>
             </mat-form-field>
            
            <mat-form-field fxFlex="33">
               <input matInput placeholder="Apellido" formControlName="last_name" required>
            </mat-form-field>

          </div>


          <div fxLayout='row' fxFlex="100%" fxLayoutGap="10px">       
            <mat-form-field fxFlex="25">
              <input matInput type="email" placeholder="Email" formControlName="email" required>
            </mat-form-field>

            <mat-form-field fxFlex="25">
              <input matInput type="number" placeholder="Teléfono" formControlName="phone" required>
            </mat-form-field>
                      
            <mat-form-field fxFlex="25">
              <input matInput placeholder="Dirección" formControlName="address" required>
            </mat-form-field>
                   
            <mat-form-field fxFlex="25">
              <input matInput placeholder="Ciudad" formControlName="city" required>
            </mat-form-field>
                      
          </div>

          <div fxLayout='row' fxFlex="100%" fxLayoutGap="10px">
            <mat-form-field fxFlex="25">
              <input matInput placeholder="Patente" formControlName="car_license" >
            </mat-form-field>
            

            <mat-form-field fxFlex="25">
              <input matInput placeholder="Marca del auto" formControlName="car_brand" >
            </mat-form-field>
            
            <mat-form-field fxFlex="25">
              <input matInput placeholder="Modelo del auto" formControlName="car_model" >
            </mat-form-field>
            
            <mat-form-field fxFlex="25">
              <input matInput placeholder="Color del auto" formControlName="car_color" >
            </mat-form-field>

          </div>
          </mat-card-content>

        <mat-card-actions class="actions">
          <button mat-raised-button type="submit" [disabled]="!clientForm.valid">Aceptar</button>

        </mat-card-actions>

    </mat-card>

    </div>
  </form>
</div>
