<div class="container">
  <form [formGroup]="placeForm" (submit)="updatePlace()">
    <div fxLayout="row">
      <ng-container *ngIf="place">
        <mat-card class="full-width">

          <mat-card-header>
            <mat-card-title>Editar</mat-card-title>
            <span class="fill-remaining-space"></span>
            <button mat-button [routerLink]="['/place/detail',place.id]">Volver</button>
          </mat-card-header>

        <mat-card-content fxLayout='column'>

          <div fxLayout='row' fxFlex="100%" fxLayoutGap="10px">

          <mat-select flFlex="34" placeholder="Tipo Espacio" formControlName="ptype_id" required>
            <mat-option *ngFor="let ptype of ptypes" [value]="ptype.id">{{ptype.name}}</mat-option>
          </mat-select>  

            <mat-input-container flFlex="33">
              <input matInput type="time" placeholder="Horario apertura" formControlName="opening" required>
            </mat-input-container>

            <mat-input-container flFlex="33">
              <input matInput type="time" placeholder="Horario cierre" formControlName="closing" required>
            </mat-input-container>
          </div>


          <div fxLayout='row' fxFlex="100%" fxLayoutGap="10px">          
            <mat-input-container fxFlex="34">
             <input matInput placeholder="Nombre" formControlName="name" required>
             </mat-input-container>

            <mat-input-container fxFlex="33">
             <input matInput type="number" placeholder="Capacidad" formControlName="capacity" required>
             </mat-input-container>

            <mat-input-container fxFlex="33">
             <input matInput type="number" placeholder="Precio" formControlName="price" required>
             </mat-input-container>
          </div>

        </mat-card-content>

          <mat-card-actions class="actions">
            <button mat-button type="button" (click)="openDialog()" confirm color="accent">Eliminar</button>
            <button mat-raised-button type="submit" [disabled]="!placeForm.valid">Aceptar</button>
          </mat-card-actions>

        </mat-card>

      </ng-container>
    </div>
  </form>
</div>
