<div class="container">

  <div fxLayout="column">

    <ng-container *ngIf="place">

    <div fxLayout="row">

      <mat-card fxFlex="100">

        <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
          <mat-card-title>Detalle</mat-card-title>
          <button mat-button [routerLink]="['/places']">Volver</button>
        </mat-card-header>

        <mat-card-content fxLayout='column'>

          <div fxLayout='row' fxFlex="100" fxLayoutGap="10px">

            <mat-input-container fxFlex="34">
              <input matInput placeholder="Tipo Espacio" [value]="place.ptype.name" readonly>
            </mat-input-container>

            <mat-input-container fxFlex="33">
              <input type="email" matInput placeholder="Horario apertura" [value]="place.opening | date: 'HH:mm'" readonly>
            </mat-input-container>

            <mat-input-container fxFlex="33">
              <input matInput placeholder="Horario cierre" [value]="place.closing | date: 'HH:mm'" readonly>
            </mat-input-container>
          </div>

          <div fxLayout='row' fxFlex="100" fxLayoutGap="10px">
            <mat-input-container fxFlex="34">
              <input matInput placeholder="Nombre" [value]="place.name" readonly>
            </mat-input-container>

            <mat-input-container fxFlex="33">
              <input matInput placeholder="Capacidad" [value]="place.capacity" readonly>
            </mat-input-container>

            <mat-input-container fxFlex="33">
              <input matInput placeholder="Precio" [value]="place.price | currency: 'CLP' : 'symbol-narrow' : '3.0-0': 'es-CL'" readonly="true">
            </mat-input-container>
          </div>

          <ng-container *ngIf="place.ptype_id == 1">

            <div fxLayout="row" fxLayoutGap="10px">

              <mat-input-container fxFlex="34">
                <input matInput type="number" placeholder="Precio Siguiente Noche" [value]="place.extra_night" readonly>
              </mat-input-container>

              <mat-input-container fxFlex="33">
                <input matInput type="number" placeholder="Persona Adicional" [value]="place.extra_passenger" readonly>
              </mat-input-container>

              <mat-input-container fxFlex="33">
                <input matInput type="number" placeholder="Extensión Horaria" [value]="place.dsep" readonly>
              </mat-input-container>
            </div>

          </ng-container>

        </mat-card-content>

        <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
          <button [routerLink]="['/places/edit',place.id]" mat-button type="button">Editar</button>
        </mat-card-actions>

      </mat-card>

    </div>
    </ng-container>

  </div>
</div>
