<div class="container">
  <div fxLayout="column">
    <ng-container *ngIf="place">
      <div fxLayout="row">
        <mat-card class="full-width">
          <mat-card-header>
            <mat-card-title>Detalle</mat-card-title>
            <span class="fill-remaining-space"></span>
            <button mat-button [routerLink]="['/place/list']">Volver</button>
          </mat-card-header>

          <mat-card-content class="inputs-wrapper">

            <span></span>

            <div class="input-wrapper">
               <mat-input-container class="full-width">
                 <input matInput placeholder="Nombre" [value]="place.name" readonly="true">
               </mat-input-container>
            </div>

            <div class="input-wrapper">
              <mat-input-container class="full-width">
               <input matInput placeholder="Capacidad" [value]="place.capacity" readonly="true">
               </mat-input-container>
            </div>

            <div class="input-wrapper">
              <mat-input-container class="full-width">
              <input matInput placeholder="Precio" [value]="place.price" readonly="true">
              </mat-input-container>
            </div>

            <div class="input-wrapper">
              <mat-input-container class="full-width">
              <input type="email" matInput placeholder="Horario apertura" [value]="place.opening | date: 'HH:mm'" readonly="true">
              </mat-input-container>
            </div>

            <div class="input-wrapper">
              <mat-input-container class="full-width">
              <input matInput placeholder="Horario cierre" [value]="place.closing | date: 'HH:mm'" readonly="true">
              </mat-input-container>
            </div>

        </mat-card-content>

        <mat-card-actions class="actions">
            <button [routerLink]="['/place/edit',place.id]" mat-button type="button">Editar Espacios</button>
        </mat-card-actions>

        </mat-card>
      </div>
    </ng-container>
  </div>
</div>
