<div class="container">
  <form [formGroup]="ptypeForm" (submit)="createPType()">
    <div fxLayout="row">

        <mat-card class="full-width">

          <mat-card-header>
            <mat-card-title>Nuevo</mat-card-title>
            <span class="fill-remaining-space"></span>
            <button mat-button routerLink="">Volver</button>
          </mat-card-header>

          <mat-card-content class="inputs-wrapper">

            <span></span>

            <div class="input-wrapper">
               <mat-input-container class="full-width">
                 <input matInput placeholder="Nombre" formControlName="name" required>
               </mat-input-container>
            </div>

            <div class="input-wrapper">
              <mat-input-container class="full-width">
               <input matInput placeholder="Nombre en plural" formControlName="plural" required>
               </mat-input-container>
            </div>

        </mat-card-content>

        <mat-card-actions class="actions">
          <button mat-raised-button type="submit" [disabled]="!ptypeForm.valid">Aceptar</button>

        </mat-card-actions>

    </mat-card>

    </div>
  </form>
</div>
